# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Node
node_modules/
dist/
.vite/
*.local
public/cornerstoneWADOImageLoaderWebWorker.min.js
public/cornerstoneWADOImageLoaderCodecs.min.js

# Docker
.docker/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
